body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
}
p {
  line-height: 30px;
}
.top-section {
  background: url(img/top-background.png);
  display: flex;
  background-size: cover;
}

.mid-section {
  display: flex;
  background: url(img/Frame\ 57.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.half-width {
  width: 50%;
  padding-top: 50px;
  padding-bottom: 150px;
}

.first-heading {
  padding-top: 80px;
  padding-left: 120px;
}
.first-heading h1 {
  width: 50%;
}

.first-heading span {
  color: #00dc4f;
}
#food-bowl {
  width: 50%;
  padding-left: 250px;
}

.button {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  color: white;
  background-color: orangered;
  padding: 15px 25px 15px 25px;
  border-radius: 5px;
  margin-top: 15px;
  font-size: 15px;
}

#woman-image {
  width: 50%;
}

.center-picture {
  padding: 100px 0px 100px 110px;
}

.second-heading p {
  width: 60%;
}
